In [19]:
import pickle
import pandas as pd
import numpy as np
import re
import os
import matplotlib.pyplot as plt
import gensim
from gensim.utils import simple_preprocess
from gensim.models.doc2vec import Doc2Vec, TaggedDocument

In [45]:
train = pd.read_pickle('train_bow.pkl')
test = pd.read_pickle('test_bow.pkl')

In [91]:
train.head()

,id,title,text_clean,pov
0,619941,Loch Katrine,infobox lake name loch katrin imag loch katrin...,False
1,3884222,Bhadayasa,infobox royalti imag filebhadrayasha coinjpg a...,False
2,4229879,Lee Jones (author),lee jone onlin poker execut author win low lim...,False
3,5320685,School District 54 Bulkley Valley,infobox school district name school district b...,False
4,9146365,Combing,interlac disambiguationinterlaceth comb hairco...,False

In [65]:
pov = pd.read_csv('POV.csv')
pov.drop(labels=['Unnamed: 0'], axis=1, inplace=True)
pov['title_strip'] = pov['title'].map(lambda x: re.sub("'", '', x))
pov.head()

,id,title,title_strip
0,5597,'Politics of Cyprus',Politics of Cyprus
1,14668,'Economy of Iraq',Economy of Iraq
2,24400,'Pair programming',Pair programming
3,32783,'Antisemitism and the New Testament',Antisemitism and the New Testament
4,38424,'Bikram Yoga',Bikram Yoga

In [66]:
#add labels to train and test set
train['pov'] = train['title'].isin(pov['title_strip'])
test['pov'] = test['title'].isin(pov['title_strip'])

test.head()

,id,title,text_clean,pov
0,2936718,Meitei Christians,meitei christian christian movement base manip...,True
1,17023672,Musical expression,music express art play sing music emot communi...,True
2,37590035,READ 180,read read interv program wide use student grad...,True
3,3191002,The Ambulance,infobox film name ambul imag ambulancejpg imag...,False
4,24154353,Sifo Company,sifo compani busi sifo toy sifo novelti compan...,False

In [47]:
assert gensim.models.doc2vec.FAST_VERSION > -1, "this will be painfully slow otherwise"

In [48]:
# MyDocs reading from a data frame
class MyDocs(object):
    def __iter__(self):
        for i in range(train.shape[0]):
            yield TaggedDocument(words=simple_preprocess(train.iloc[i,2]), tags=['%s' % train.iloc[i,1]])

In [88]:
%%time

if not os.path.exists('models/doc2vec.model'):
    print "start training doc2vec model..."
    documents = MyDocs()
    doc2vec_model = Doc2Vec(dm=1, dbow_words=1, size=200, window=8, min_count=20, workers=1)
    doc2vec_model.build_vocab(documents)
    doc2vec_model.train(documents, total_examples=doc2vec_model.corpus_count, epochs=doc2vec_model.iter)
    if not os.path.exists('models'):
        os.makedirs('models')
        doc2vec_model.save('models/doc2vec.model')
    else:
        doc2vec_model.save('models/doc2vec.model')
else:
    doc2vec_model = Doc2Vec.load('models/doc2vec.model')

CPU times: user 295 ms, sys: 591 ms, total: 885 ms
Wall time: 1.84 s

In [85]:
doc2vec_model.initialize_word_vectors()

In [90]:
doc2vec_model.infer_vector(['test', 'exam'])

array([ 0.01331308,  0.03355028,  0.00083345, -0.01781101, -0.00846532,
        0.0115648 ,  0.03717271,  0.01931503, -0.00898304, -0.01628613,
       -0.02143989, -0.01236345, -0.00175919, -0.00817022, -0.0319072 ,
        0.01063433,  0.06575609, -0.02196492, -0.0052598 ,  0.00462697,
        0.01951978, -0.0254368 ,  0.02517551,  0.0192138 , -0.10008786,
        0.00689221, -0.00562786,  0.02308743,  0.03699073,  0.02374153,
       -0.03125314,  0.03349215,  0.03653101,  0.03098488,  0.02748667,
        0.02981285,  0.03268561, -0.06556045,  0.04465526, -0.01643338,
       -0.06122965, -0.00427128,  0.03971937, -0.01968607,  0.00660813,
       -0.03867188,  0.03125178, -0.02825534,  0.02126163, -0.01786485,
        0.04203948,  0.02636727,  0.03465724, -0.03409329, -0.0070151 ,
       -0.04217396, -0.02301036, -0.00711416, -0.04873128,  0.00234991,
       -0.01196017,  0.01518714,  0.00164491, -0.00178916, -0.03028015,
       -0.02253855, -0.00187654, -0.0302928 , -0.01497698, -0.03003307,
        0.00961452, -0.0752284 ,  0.01955885, -0.02064745, -0.03895336,
        0.00718448,  0.0025724 ,  0.04092578,  0.00414417, -0.007247  ,
       -0.0133808 , -0.02750132,  0.03858105,  0.02254089,  0.03569986,
       -0.06316391,  0.03349483, -0.01469817, -0.01387733,  0.03474054,
        0.0036623 ,  0.00326937, -0.02201582, -0.05065762, -0.02623282,
       -0.00453698, -0.04131854, -0.00077081,  0.00428524, -0.03608245,
        0.01390905,  0.03435191, -0.00843325, -0.04807864, -0.00282006,
       -0.02274253,  0.03406188,  0.01967352,  0.00953523,  0.03478391,
        0.00916148, -0.00022597, -0.01937287, -0.01698536, -0.02356185,
        0.02466031,  0.00948455,  0.03258587,  0.01004879, -0.04670552,
        0.0148742 ,  0.02974334, -0.0191135 , -0.00738666,  0.00348948,
        0.03178858, -0.02409419,  0.01309459, -0.03373038,  0.04105681,
       -0.01267837,  0.02842156,  0.01773637, -0.02309563, -0.02117267,
       -0.03577448,  0.02224705, -0.02271506, -0.01696694, -0.0580441 ,
        0.03332863,  0.00624414,  0.00299917, -0.03567695,  0.02569653,
        0.00389605, -0.0224209 , -0.01195608,  0.00654159, -0.00647088,
       -0.01178597, -0.00421996, -0.01852442, -0.02062475, -0.01702214,
       -0.00292204, -0.01462258,  0.00667607, -0.01654349,  0.01092851,
       -0.03059689, -0.00527933, -0.02416091, -0.00342108, -0.00693439,
        0.03664621,  0.02557944,  0.00193946, -0.00779246,  0.02125452,
       -0.01856414,  0.00755813, -0.0192318 ,  0.01892409,  0.0069788 ,
        0.01492883, -0.02127621,  0.01299507,  0.04996062, -0.04739986,
        0.01472858,  0.06121074, -0.01225896,  0.0363516 , -0.05565482,
       -0.03075264,  0.00803847,  0.00136178, -0.05497584,  0.04875497,
       -0.01938154, -0.05588713,  0.01161373,  0.01476126,  0.09612786,
       -0.03318957, -0.02927895,  0.04014821,  0.00275188, -0.0078653 ], dtype=float32)

In [62]:
feature_matrix = pd.concat([pd.Series(doc2vec_model.docvecs[i]) for i in range(0, train.shape[0])], axis=1).T

In [ ]:
doc2vec_model.

In [76]:
from sklearn.linear_model import LogisticRegression
logit = LogisticRegression(C=.01) 

logit = logit.fit(feature_matrix, train['pov'])

In [77]:
logit.score(feature_matrix, train['pov'])

0.68455915943353129

In [78]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators = 100, criterion='entropy') 
forest = forest.fit(feature_matrix, train['pov'])

In [80]:
#print "test score:", forest.score(test_data_features, test['pov'])
print "train score:", forest.score(feature_matrix, train['pov'])

 train score: 1.0

In [83]:
from sklearn.svm import SVC
svc = SVC(C=100, kernel='linear') 
svc = svc.fit(feature_matrix, train['pov'])

In [84]:
print "train score:", svc.score(feature_matrix, train['pov'])

train score: 0.709913202376