In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle('train_clean.pkl')

In [3]:
df.head()

,id,title,text_clean
0,619941,Loch Katrine,\n\n\n\n\nInfobox lake\n name Loch Katrine\n ...
1,3884222,Bhadayasa,\n\nInfobox royalty\n image FileBhadrayasha c...
2,4229879,Lee Jones (author),\n\nLee Jones is an online poker executive and...
3,5320685,School District 54 Bulkley Valley,Infobox school district\n name Scho...
4,9146365,Combing,Interlace disambiguationInterlacethe combing o...

In [4]:
df.shape

(4379, 3)

In [5]:
import spacy

In [6]:
nlp = spacy.load('en')