In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import missingno as msno
import os
import math
%matplotlib inline

In [2]:
autos = pd.read_csv('autos_processed.csv', index_col = 0)
autos.head(1)

,name,seller,offerType,price,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24,66954

In [3]:
autos_num = autos.select_dtypes(include=[np.number])
autos_log = np.log(autos_num)
autos_log.head(1)

D:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: RuntimeWarning: divide by zero encountered in log
  from ipykernel import kernelapp as app

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,postalCode
1,9.814656,7.606387,5.247024,11.736069,1.609438,11.111761

In [4]:
print "Variance:"
np.var(autos) #All Variances are greater than one

Variance:

price                  8.757004e+07
yearOfRegistration     9.202210e+02
powerPS                3.834412e+03
kilometer              1.562248e+09
monthOfRegistration    1.261413e+01
postalCode             6.595725e+08
dtype: float64

In [5]:
anCol = autos_num.iloc[:,1:].columns
x = autos.loc[:,anCol]
y = autos_num.price

<br>
#### Feature Selection

In [6]:
import sklearn.feature_selection as fs

In [7]:
fs.chi2(x,y) #Reject Null on all, PowerPS > km > monthOfReg > yearofReg > postal

(array([  1.11210567e+04,   3.28281330e+06,   9.38504032e+08,
          1.47956365e+04,   1.04270616e+08]), array([ 0.,  0.,  0.,  0.,  0.]))

<br>** Cross Validation **

In [8]:
import sklearn.model_selection as ms

In [9]:
#Run this when using Autos df
x_train, x_test, y_train, y_test = ms.train_test_split(x,y, 
                                                       test_size=1.0/3, random_state=0)
print('Original: {}, {}'.format(x.shape, y.shape))
print('Training: {}, {}'.format(x_train.shape, y_train.shape))
print('Test: {}, {}'.format(x_test.shape, y_test.shape))

Original: (290916, 5), (290916L,)
Training: (193944, 5), (193944L,)
Test: (96972, 5), (96972L,)

<br>
** Naive Bayes (LDA) **

In [10]:
#LDA
from sklearn import naive_bayes
from sklearn import discriminant_analysis

LDA = discriminant_analysis.LinearDiscriminantAnalysis()
LDA.fit(x_train, y_train)

#### Your code here
LDA.score(x_train,y_train) #Pretty poor accuracy

D:\Anaconda\lib\site-packages\sklearn\discriminant_analysis.py:455: UserWarning: The priors do not sum to 1. Renormalizing
  UserWarning)

0.020114053541228395

<br>

In [68]:
autos.price.dtypes

dtype('int64')